<h2 class="mb-5">Dashboard - Student</h2>

<h4>Incoming Events</h4>

<div class="row gap-5">
    {{#each events}}
        <div class="secondary-bg-color p-4 rounded col-lg-5 event">
            <div class="d-flex justify-content-end">
                {{!-- <span class="badge bg-success">Ongoing Reservation</span> --}}
                {{{reservationStatus this.reservers}}}
            </div>
            <br>
            <div style="height: 6rem;">
                <h4>{{this.title}}</h4>
                <p>{{this.description}}</p>
                <p>{{formatDate this.date}} | {{formatTime this.time}}</p>
            </div>
            <div class="mt-5 d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3">
                    {{{isCurrentUserReserved this.reservers this.userID this._id}}}

                    {{> eventDetailModal}}
                </div>
                <span ><i class="bi bi-people-fill"></i> {{this.reservers.length}} / 60</span>
            </div>
        </div>
    {{/each}}
</div>

{{!-- <hr class="my-5">

<div class="w-auto mb-5">
    <h2>Article Post</h2>
    <form class="d-grid gap-3" id="articleForm">
        <input type="hidden" name="author" value="{{user._id}}">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control form-control-sm border-0" id="title" name="title">
        </div>
        <div>
            <label for="body" class="form-label">Body</label>
            <textarea class="form-control border-0" id="body" cols="30" rows="10" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-dark" id="submitArticleBtn">Submit</button>
        <button type="button" class="btn btn-sm btn-dark d-none" id="cancelEditArticleBtn">Cancel</button>
    </form>
</div>

<ul class="list-group gap-1" id="articleList">
    {{#each articles}}
        <li class="list-group-item secondary-bg-color text-white text-capitalize d-flex justify-content-between align-items-center" data-id="{{this._id}}">
            {{this.title}}
            <div class="d-flex align-items-center gap-2">
                {{{approvedRejected this.isApproved this.isRejected}}}
                <button type="button" class="btn p-0 editArticleBtn" data-url="/api/articles/{{this._id}}"><i class="bi bi-pencil-fill text-warning"></i></button>
                <button type="button" class="btn p-0 deleteArticleBtn" data-url="/api/articles/{{this._id}}"><i class="bi bi-trash3-fill text-danger"></i></button>
            </div>
        </li>
    {{/each}}
</ul> --}}